<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>22F73EE2-DD43-4587-86EE-9FB12652426B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gios</string>
			<key>text</key>
			<string>Repo - iOs</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_ios</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>244E84BC-CC61-4375-A186-B1FFF6D3840F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gweb</string>
			<key>text</key>
			<string>Repo - Fieldwire Web</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_web_app</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>27E6817A-3CAF-4717-AAD2-941661114E23</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghook</string>
			<key>text</key>
			<string>Repo - Hookwire</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/hookwire</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2E30C7EE-EE7E-4B6F-B644-7CF4637DAA8B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gphook</string>
			<key>text</key>
			<string>Pull Request - Hookwire</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/hookwire/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3CE98A9E-2050-42A1-A1E3-563D30264201</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gpandroid</string>
			<key>text</key>
			<string>Pull Requests - Android</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_android/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3D4E4614-ABE5-4E9C-88C0-C6714C23B473</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gandroid</string>
			<key>text</key>
			<string>Repo - Android</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_android</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4DC94AFA-64DF-4769-B8B0-544E571E0DD2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gpios</string>
			<key>text</key>
			<string>Pull Request - iOs</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_ios/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>59D606FB-FF81-4F96-8B74-D67A8DDD5A6F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>NPM</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BD56D4B-D552-4E3C-A8F8-510EF44E6906</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tasks</string>
			<key>text</key>
			<string>Tasks - Fieldwire</string>
			<key>url</key>
			<string>https://app.fieldwire.com/#!/projects/9e2e9c0c-4abf-490b-b269-6862c279afee/tasks</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>71A1C7A0-3AE1-4AF1-9F1E-1D820910D7C7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gapi</string>
			<key>text</key>
			<string>Repo - Fieldwire APi</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_api</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>98FD12C4-3174-41EC-ABCF-52647F25366E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gpweb</string>
			<key>text</key>
			<string>Pull Request - Fieldwire Web</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_web_app/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9F7862E7-4492-4552-BFCF-970FF80B3C53</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>doc</string>
			<key>text</key>
			<string>Fieldwire Engineering documentation</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/engineering_documentation</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B30F6B0B-5325-4B3B-BBC6-01C25FD1F5CA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fieldwire</string>
			<key>text</key>
			<string>Filedwire Team - Tasks</string>
			<key>url</key>
			<string>https://beta.fieldwire.com/#!/projects/9e2e9c0c-4abf-490b-b269-6862c279afee/tasks</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E07763E2-29D4-4FCA-AB8F-392132894530</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gpapi</string>
			<key>text</key>
			<string>Pull Request - Fieldwire API</string>
			<key>url</key>
			<string>https://github.com/Fieldwire/fieldwire_api/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
